<div class="flex my-4">
  <div class="w-full">
    <% flash.each do |name, msg| %>
      <div class='alert-<%="#{name}"%> text-base' >
        <%= content_tag :strong, 'Great!', :id => "flash_#{name}_type", :class => 'font-bold' if name === 'success'%>
        <%= content_tag :span, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <a href=" "  class='close-<%="#{name}"%> hover:bg-transparent'>×</a>
      </div>
    <%end %>
  </div>
</div>