<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%=  link_to 'DataTables Rails 6', articles_path, class: "hover:bg-transparent font-semibold text-xl navigation"  %>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to 'Añadir', new_article_path, class: "navigation block mt-4 lg:inline-block lg:mt-0 hover:font-semibold hover:bg-transparent mr-4" %>
    </div>
  </div>
</nav>